@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 16px; /* スクロールバー全体の幅 */
    background-color: #f9f9f9; /* スクロールバーの背景色 */
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px; /* スクロールバーの丸み */
    box-shadow: inset 0 0 10px 10px #909090; /* スクロールバーの色 */
    border: solid 4px transparent; /* スクロールバーの左右の余白 */
  }
}

@layer components {
  .beforeAnswer {
    display: block;
  }
  .afterAnswer {
    display: none;
  }
}
